@model mvc2.Models.subject

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>displayDetail</title>
</head>
<body>
    <div>
        <h1 align="center">this content is from a view</h1>
        <h2>id is @Model.Id</h2>
        <h2>subject name is @Model.subjectName</h2>
    </div>
</body>
</html>
